[pull]
    rebase = true
[log]
    date = format-local:"%d.%m.%Y, %H:%M"
[core]
    autocrlf = input
    pager = delta
[delta]
    minus-style = "syntax" "#484A4A"
    minus-emph-style = "syntax" "#484A4A"
    minus-non-emph-style = "syntax" "#2F3032"
    plus-style = "syntax" "#294436"
    plus-emph-style = "syntax" "#294436"
    plus-non-emph-style = "syntax" "#212E2A"
    line-numbers-right-style = "#313438"
    line-numbers-left-style = "#313438"
    line-numbers-minus-style = "#868A91 #484A4A"
    line-numbers-plus-style = "#549159 #294436"
    line-numbers-zero-style = "#4B5059"
    line-numbers-left-format = "{nm:>4}│"
    line-numbers-right-format = "{np:>4}│"
    file-decoration-style = "#313438 ul"
    file-style = "bold #6F737A"
    hunk-header-style = "omit"
    line-numbers = true
    side-by-side = false
    syntax-theme = "Coldark-Dark"
