themes {
    island-dark {
        text_unselected {
            base "#6F737A"        // 'Zellij' title & 'Ctrl +'
            background "#1E1F22"  // arrows between buttons (LOCK, PANE, TAB...)
            emphasis_0 "#A1A3AB"  // 'Alt +' hint and left arrow in select mode
            emphasis_1 "#00FF00"
            emphasis_2 "#BCBEC4"  // letters inside buttons (<g>, <p>, <t>...) after button press
            emphasis_3 "#00FF00"
        }
        text_selected {
            base "#6F737A"
            background "#1E1F22"
            emphasis_0 "#00FF00"
            emphasis_1 "#00FF00"
            emphasis_2 "#00FF00"
            emphasis_3 "#00FF00"
        }
        ribbon_unselected {
            base "#1E1F22"
            background "#5A5D63" // buttons (LOCK, PANE, TAB...)
            emphasis_0 "#BCBEC4" // letters inside buttons (<g>, <p>, <t>...)
            emphasis_1 "#00FF00"
            emphasis_2 "#00FF00"
            emphasis_3 "#00FF00"
        }
        ribbon_selected {
            base "#1E1F22"
            background "#A1A3AB" // active tab
            emphasis_0 "#DFE1E5" // leter inside button after action selected
            emphasis_1 "#00FF00"
            emphasis_2 "#00FF00"
            emphasis_3 "#00FF00"
        }
        frame_unselected {
            base "#313438"
            emphasis_0 "#00FF00"
            emphasis_1 "#00FF00"
            emphasis_2 "#00FF00"
            emphasis_3 "#00FF00"
        }
        frame_selected {
            base "#313438"
            emphasis_0 "#00FF00"
            emphasis_1 "#00FF00"
            emphasis_2 "#00FF00"
            emphasis_3 "#00FF00"
        }
    }
}
