theme "jetbrains-dark"
default_layout "compact"
pane_frames false
show_startup_tips false

ui {
    pane_frames {
        hide_session_name true
    }
}

keybinds {
    normal {
      bind "Alt t" { NewTab; }
      bind "Alt ]" { GoToNextTab; }
      bind "Alt [" { GoToPreviousTab; }
    }
}
