theme "jetbrains-dark"
default_layout "compact"
pane_frames false
show_startup_tips false

ui {
    pane_frames {
        hide_session_name true
    }
}

keybinds {
    normal {
      unbind "Alt k"
      unbind "Alt j"
      unbind "Alt h"
      unbind "Alt l"
      unbind "Alt Up"
      unbind "Alt Down"
      unbind "Alt Left"
      unbind "Alt Right"

      bind "Shift Alt k" { MoveFocus "Up"; }
      bind "Shift Alt j" { MoveFocus "Down"; }
      bind "Shift Alt h" { MoveFocus "Left"; }
      bind "Shift Alt l" { MoveFocus "Right"; }
      bind "Shift Alt t" { NewTab; }
      bind "Shift Alt ]" { GoToNextTab; }
      bind "Shift Alt [" { GoToPreviousTab; }
    }
}
